header{
    background-color: #c52f24;
    width: 100%;
    padding: 10px;
    color: #fff;
}

h1{
    font-size: 30px;
}

footer{
    background-color: #c52f24;
    width: 100%;
    padding: 10px;
    color: #fff;
}

footer{
    bottom: 0px;
    position: absolute;
}

p{
    font-size : 30px;
}

table th{
    background-color: #FFDFDF;
    padding: 10px 20px;
}

table td{
    background-color: #F1C8C861;
}

.notice{
    background-color: #ccf;
    padding: 5px;
}

